body {
}

.grid_container {
  display: grid;
  grid-template-areas: "title title title"
                      "subtitle subtitle subtitle"
                      "destpic1 destpic2 destpic3"
                      "bottom bottom bottom";
}

h1 {
  grid-area: title;
  font-size: 15px;
  text-align: center;
}

h2 {
  position: absolute;
  text-align: center;
  margin-top: 40cm;
  margin-left: 50;
  color: white;
}

h3 {
  grid-area: bottom;
  border: 1px solid darkgray;
  background: white;
}

p {
  grid-area: subtitle;
  text-align: center;
}

img {
  width: 200px;
  height: 250px;
  /* margin: 0 auto;
  position: absolute; */
  
}

div {
  position: relative;
}

.left {
  grid-area: destpic1;
}

.center {
  grid-area: destpic2;
}

.right {
  grid-area: destpic3;
} 

button {
  margin: 0 auto;
  grid-area: bottom;
}